Client3/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProjectSNUS/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProjectSNUS/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProjectSNUS/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjectSNUS" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ProjectSNUS/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegisterSensor_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSensor" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterSensor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSensorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UnregisterSensor_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterSensor" />
  </wsdl:message>
  <wsdl:message name="IService1_UnregisterSensor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterSensorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BroadcastMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:BroadcastMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_BroadcastMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:BroadcastMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReceiveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMessage" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegisterSensor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterSensor" message="tns:IService1_RegisterSensor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterSensorResponse" message="tns:IService1_RegisterSensor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterSensor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UnregisterSensor" message="tns:IService1_UnregisterSensor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UnregisterSensorResponse" message="tns:IService1_UnregisterSensor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BroadcastMessage" message="tns:IService1_BroadcastMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BroadcastMessageResponse" message="tns:IService1_BroadcastMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReceiveMessage" message="tns:IService1_ReceiveMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterSensor">
      <soap12:operation soapAction="http://tempuri.org/IService1/RegisterSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterSensor">
      <soap12:operation soapAction="http://tempuri.org/IService1/UnregisterSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessage">
      <soap12:operation soapAction="http://tempuri.org/IService1/BroadcastMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMessage">
      <soap12:operation soapAction="http://tempuri.org/IService1/ReceiveMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="WSDualHttpBinding_IService1" binding="tns:WSDualHttpBinding_IService1">
      <soap12:address location="http://localhost:8733/Design_Time_Addresses/ProjectSNUS/Service1/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8733/Design_Time_Addresses/ProjectSNUS/Service1/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>